@use "../mq";
@use "../abstracts" as *;


body {
    font-family: $font-family-OpenSans;
    color: $color-primary;
    line-height: $font-line-height-sm;

    
    @include mq.mq($from: mobileLandscape, $until: tablet) {
     
    }
    @include mq.mq($from: tablet, $until: desktop) {
    
    }
    @include mq.mq($from: desktop, $until: wide) {
    
    }
    @include mq.mq($from: wide) {
    
    }
}

