@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
/* ==========================================================================
COLOR 
========================================================================== */
/* ==========================================================================
FONTS 
========================================================================== */
/* ------------ font-family ------------ */
/* ------------ font-size ------------ */
/* ------------ font-weight ------------ */
/* ------------ font-line-height ------------ */
/* ==========================================================================
NAV 
========================================================================== */
/* ------------ nav height  ------------ */
/* ------------ nav padding  ------------ */
/* ==========================================================================
HERO 
========================================================================== */
.title {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}

.sub-title {
  font-size: 1.4rem;
}

.paragraph {
  font-family: "Open Sans";
}

ul {
  padding-top: 1rem;
  color: #603d2f;
}

li {
  display: list-item;
  list-style-type: circle;
  list-style-position: inside;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.prev-btn, .next-btn {
  width: 5rem;
}

.prev-btn.disabled, .next-btn.disabled {
  background: none;
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(0%);
  pointer-events: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2,
h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small,
strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset,
form, label, table, caption, tbody, tfoot, thead, tr, th, td,
main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

img {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

a {
  color: inherit;
  text-decoration: inherit;
}

.btn-primary {
  font-family: "Roboto", sans-serif;
  color: #603d2f;
  font-size: 1rem;
  font-weight: 400;
}
.btn-primary a {
  border: 0.7px solid #603d2f;
  padding: 0.5rem 3.2rem;
}

section {
  padding: 0 1.5rem;
}

.section-hero {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.section-meet-your-coach {
  background-color: #eeebe7;
}

.section-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}
.section-service .service-title {
  padding-top: 1rem;
}

.section-testimonial {
  background-color: #eeebe7;
}

footer {
  width: 100%;
  bottom: 0;
  background-color: black;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  /* logo */
  /* humburger */
}
.nav__logo {
  width: 7rem;
}
.nav__logo img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.nav__humburger {
  position: relative;
  display: block;
  width: 50px;
  height: 100px;
  cursor: pointer;
  z-index: 100;
  background: none;
  appearance: none;
  outline: none;
  border: none;
}
.nav__humburger-bar, .nav__humburger::after {
  content: "";
  display: block;
  width: 100%;
  height: 2%;
  background-color: #603d2f;
  margin: 5px 0px;
  transition: 0.3s;
}
.nav__humburger.is-active .nav__humburger-bar {
  transform: rotate(45deg) translate(-3px, 8px);
}
.nav__humburger.is-active .nav__humburger-bar:nth-child(2) {
  display: none;
}
.nav__humburger.is-active::after {
  transform: rotate(-45deg) translate(-3px, -9px);
}
@media (min-width: 30em) and (max-width: 46.24em) {
  .nav {
    height: 5rem;
  }
}
@media (min-width: 46.25em) and (max-width: 61.24em) {
  .nav {
    height: 5.3rem;
  }
}
@media (min-width: 61.25em) and (max-width: 81.24em) {
  .nav {
    height: 5.4rem;
  }
}
@media (min-width: 81.25em) {
  .nav {
    height: 5.5rem;
  }
}

.layout {
  display: grid;
}
.layout main > section {
  margin-top: 2rem;
}
@media (max-width: 29.99em) {
  .layout {
    grid-template-columns: 1fr 95% 1fr;
  }
}
@media (min-width: 30em) and (max-width: 46.24em) {
  .layout {
    grid-template-columns: 1fr 95% 1fr;
    background-color: #778DA9;
  }
}
@media (min-width: 46.25em) and (max-width: 61.24em) {
  .layout {
    grid-template-columns: 1fr 95% 1fr;
    background-color: #E26D5A;
  }
}
@media (min-width: 61.25em) and (max-width: 81.24em) {
  .layout {
    grid-template-columns: 1fr 75% 1fr;
    background-color: #CBC9AD;
  }
}
@media (min-width: 81.25em) {
  .layout {
    grid-template-columns: 1fr 65% 1fr;
    background-color: #335C81;
  }
}

/* ------------ main block  ------------ */
main {
  grid-column: 2/3;
  font-family: "Open Sans";
  color: #603d2f;
  line-height: 1.3rem;
  margin-top: 27rem;
  border: 1px dashed darkmagenta;
}
@media (min-width: 30em) and (max-width: 46.24em) {
  main {
    margin-top: 27rem;
    border: 1px dashed blue;
  }
}
@media (min-width: 46.25em) and (max-width: 61.24em) {
  main {
    margin-top: 27rem;
    border: 1px dashed white;
  }
}
@media (min-width: 61.25em) and (max-width: 81.24em) {
  main {
    margin-top: 27rem;
    border: 1px dashed red;
  }
}
@media (min-width: 81.25em) {
  main {
    margin-top: 27rem;
    border: 1px dashed yellow;
  }
}

/* ------------ /end main block  ------------ */
/* HERO */
.hero {
  margin-top: 4rem;
  position: absolute;
  width: 100%;
  height: 27rem;
}
.hero img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-text p {
  text-align: center;
}

/* MEET YOUR COACH */
.meet-your-coach {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.meet-your-coach__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-top: 2rem;
}
.meet-your-coach__img {
  width: 100%;
  height: 20rem;
}
.meet-your-coach__img img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.meet-your-coach__btn {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* LIFE COACH */
.life-coach {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.life-coach__description {
  padding-top: 0.5rem;
  text-align: left;
}
.life-coach__benefits, .life-coach__tools {
  align-self: flex-start;
}
.life-coach__list {
  padding: 1rem 0.5rem;
  color: #603d2f;
}
.life-coach .under-line-right, .life-coach .underline-left {
  width: 50%;
  border: 0.2px solid #603d2f;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem 0;
  width: 100%;
}
.service__sub-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  gap: 0.5rem;
}
.service__sub-title .title {
  font-weight: 600;
}
.service__img {
  width: 100%;
  height: 16rem;
}
.service__img img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.service__list {
  align-self: flex-start;
}
.service__btn {
  margin-top: 1rem;
  margin-bottom: 0rem;
}
.service__pre-set-options {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.service__pre-set-options div {
  padding: 1rem;
  text-align: center;
  background-color: #eeebe7;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}
.price__table {
  width: 100%;
  padding-top: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 0.5rem;
}
.price__service, .price__price {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.price__service-title, .price__price-title {
  padding: 2rem;
  font-weight: 600;
  background-color: #dabfb4;
}
.price__items {
  background-color: #eeebe7;
  padding: 2rem 0;
}
.price__btn {
  margin-top: 1rem;
  margin-bottom: 0rem;
}
.price__info {
  text-align: center;
  font-size: 0.8rem;
}

.testimonial {
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 10rem;
}
.testimonial__wrapper {
  display: flex;
  padding-top: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.testimonial__card-conainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  padding: 1rem;
}
.testimonial__customer-name {
  padding-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #cf7c29;
  text-align: center;
  padding-bottom: 2rem;
}
.footer__title {
  padding: 2rem;
}
.footer__img {
  width: 80%;
  height: 15rem;
}
.footer__img img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem 3rem;
}
.footer__btn {
  color: inherit;
  margin-top: 0rem;
  margin-bottom: 1rem;
}
.footer__social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer__social-media object {
  width: 2rem;
}
.footer__copy-write {
  padding-top: 2rem;
  font-size: 0.8rem;
}
