@use "../mq";
@use "../base" as *;
@use "../abstracts" as *;


/* HERO */
.hero-image {
    width: 100%;
    @include mq.mq($from: mobileLandscape, $until: tablet) 
    {
        
    }

    img {
        @include imgDefault();
    }
    
}
.hero-text {
    padding: 0.5rem 1.5rem;
    text-align: center;

    /*
    ---------------------------
            Media querys
    ---------------------------
    */

    /* mobile-landscape */
    @include mq.mq($from: mobileLandscape, $until: tablet) 
    {
        padding: 1rem 5rem;
    }

    @include mq.mq($from: tablet, $until: desktop) 
    {
        
    }
}


/* MEET YOUR COACH */
.meet-your-coach {
    width: 100%;
    @include flex(column, 1.5);
    &__title {
        @include flex(column, 0.5);
        padding-top: 2rem;
    }
    &__img {
        width: 100%;
        max-width: 100%;
        img {
            // @include imgDefault();
            width: 100%;
            height: auto
        }
    }
    &__btn {
        @include paddingTB(1, 2);
    }
    @include mq.mq($from: mobileLandscape, $until: tablet) 
    {
        &__img {
            width: 50%;
        }
    }
}

/* LIFE COACH */
.life-coach {
    @include flex(column, 1.5);
    &__description {
        padding-top: 0.5rem;
        text-align: left;
    }
    &__benefits, &__tools{
        align-self: flex-start;
    }
    &__list {
        padding: 1rem 0.5rem;
        color: $color-primary;
    }
    
    .under-line-right, .underline-left{
        width: 50%;
        border: 0.2px solid $color-primary;
    }
 

}

.service {
    @include flex(column, 1.5);
    padding-top: 2rem;
    width: 100%;
   
    &__sub-title {
        .title {
            font-weight: 600;
        }
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: flex-start;
        gap: 0.5rem;
    }
    &__img {
        width: 100%;

        img {
            @include imgDefault();
        }
    }
    &__list {
        align-self: flex-start;
    }
    &__btn {
        @include paddingTB(1, 0)
    }
    
    // 3. pre-set-options
    &__pre-set-options {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        div {
            padding: 1rem;
            text-align: center;
            background-color: $color-chalk;
        }
    } 


    /*
    ---------------------------
            Media querys
    ---------------------------
    */

    /* mobile-landscape*/
    @include mq.mq($from: mobileLandscape, $until: tablet) 
    {
        padding-top: 3.5rem;
        
        &__sub-title {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            .title {
                font-weight: 600;
            }
            align-self: center;
        }
        &__img {
            width: 80%;
        }
        ul {
            align-self: center
        }

        &__pre-set-options {
            width: 80%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
    
            div {
                padding: 1rem;
                text-align: center;
                background-color: $color-chalk;
            }
        } 
    }
}

.price {
    @include flex(column, 1.5);
    width: 100%;
    
    &__table {
        width: 100%;
        padding-top: 0.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        gap: 0.5rem;
    }
    &__service, &__price {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        &-title {
            padding: 2rem;
            font-weight: $font-weight-xl;
            background-color: $color-primary-lighten;
        }
    }
    &__items {
        background-color: $color-chalk;
        padding: 2rem 0;
    }
    &__btn {
        @include paddingTB(1, 0)
    }
    &__info {
        text-align: center;
        font-size: $font-size-sm;
    }
    
    /*
    ---------------------------
            Media querys
    ---------------------------
    */

    /* mobile-landscape*/
    @include mq.mq($from: mobileLandscape, $until: tablet) 
    {
        &__table {
            width: 80%;
        }
    }
}

.testimonial {  
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 10rem;

    &__wrapper {
        display: flex;
        padding-top: 6rem;
        @include flex(row, 1);

    }
    &__card-conainer {
        @include flex(column, 1.5);
        text-align: center;
        padding: 1rem;
        
    }
    &__customer-name {
        padding-bottom: 2rem;
        font-size: $font-size-h2;
        font-weight: $font-weight-xl;
    }

    /*
    ---------------------------
            Media querys
    ---------------------------
    */

    /* mobile-landscape*/
    @include mq.mq($from: mobileLandscape, $until: tablet) 
    {
        padding-top: 3rem;
        padding-bottom: 5rem;
        &__wrapper {

            padding-top: 4rem;    
        }
    }
    
}



@include mq.mq($from: tablet, $until: desktop) {

}
@include mq.mq($from: desktop, $until: wide) {

}
@include mq.mq($from: wide) {

}