@use "../mq";
@use "../base" as *;
@use "../abstracts" as *;



section {
  padding: 0 1.5rem;


/*
---------------------------
        Media querys
---------------------------
*/

/* mobile-landscape*/
  @include mq.mq($from: mobileLandscape, $until: tablet) 
  {
    padding-left: 5rem;
    padding-right: 5rem;

    .paragraph, ul, li {
        padding: 0 3rem;
    }  

  }
}
.section-hero {
    @include flex(column, 1.5);
}

.section-meet-your-coach {
    background-color: $color-chalk;
}

.section-service {
    @include flex(column, 0);
    .service-title {
        padding-top: 1rem;
    }
}

.section-testimonial {
    background-color: $color-chalk;
}

